body {
  margin: 0;
  padding: 0;
  background: url("./imgs/kamran-abdullayev-9V1cYW4JIfQ-unsplash.jpg");

}

.container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.title {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title img {
  background-color: #d0d0d0;
  border-radius: 50%;
  object-fit: cover;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: solid 5px;
  border-color:#d0d0d0;
  margin-top: 45px;
}

/* .frame {
  height: 405px;
  width: 80%;
  position: absolute;
  top: 0;
  border: solid 5px;
  border-color: #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  overflow-x: hidden;
} */

.text {
  color: #d0d0d0;
  font-family: Charmonman;
  font-size: 100px;
  text-align: center;
}

h3 {
  margin-top: -100px;
  background: linear-gradient(360deg,#CC4B15,#d0d0d0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.skills {
  display: flex;
  justify-content: space-around;
 margin-left: 5rem;
 margin-right: 5rem;
  margin-top: -135px;
  opacity: 80%;
}

.rec {
  height: 350px;
  width: 400px;
  margin-top: 2rem;
  border-radius: 1rem;
}

.one {
  background-image: url("./imgs/img-one\ \(2\).jpg");
  background-size: cover;
  background-position: center;
}
.two {
  background-image: url("./imgs/img-two.jpg");
  background-size: cover;
  background-position: center;
  /* margin-top: 30px; */
}
.three {
  background-image: url("./imgs/img-three.jpg");
  background-size: cover;
  background-position: center;
  /* margin-top: 60px; */
}
.skills-text{
  color:#d0d0d0 ;
  display: flex;
  justify-content: space-around;
  margin-left: 5rem;
 margin-right: 5rem;
 font-weight: bolder;
 font-size: 1.5rem;
 background: linear-gradient(to right,#ff4e02,#d0d0d0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.projects {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 5px solid #CC4B15;
  color: #d0d0d0;
}

.play-button {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #d0d0d0;
  cursor: pointer;
  color: #d0d0d0;
  font-weight: bolder;
}

footer {
  background-color: #CC4B15;
  height: 15rem;
  margin-top: 70px;
  color: #d0d0d0;
}

footer a{
  color: #d0d0d0;
}

footer p{
  margin-left: 5rem;
}

footer p:nth-child(1){
  font-size: 1.2rem;
}
footer p:nth-child(5){
  margin-top: 4rem;
}

@media(min-width:350px) and (max-width:700px){
.title img{
  height: 350px;
  width: 350px;
  /* margin-top: -35px; */
}
.frame {
  display: none;
  }
.text span, h3{
  font-size: 4rem;
  
}
.text{
margin-top: -3rem;
}
}
@media (max-width: 700px) {
  
  .frame {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .skills {
    flex-direction: column;
    align-items: center;
  }
  .one,
  .three {
    display: none;
  }
  .two {
    margin-top: 5rem;
  }
  .projects {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (min-width: 700px) and (max-width: 1400px) {
  .skills {
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
  }
  .projects {
    gap: 2rem;
    justify-content: space-evenly;
  }
  .circle {
    height: 150px;
    width: 150px;
  }
  .play-button {
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #CC4B15;
  }
}
