body {
  margin: 0;
  padding: 0;
  background:url("./imgs/kamran-abdullayev-9V1cYW4JIfQ-unsplash.jpg");

}

.container {
  display: flex;
  flex-direction: column;
  /* background-color: #020202; */
}

.title {
  /* background-color: #020202; */
  height: 400px;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.title img {
  background-color: whitesmoke;
  border-radius: 50%;
  object-fit: cover;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: solid 5px;
  border-color: white;
  margin-top: 15px;
     box-shadow: 0px 10px 20px 5px rgba(244, 231, 231, 0.5);
  transform: translateY(-5px);
}

.prog {
  display: flex;
  justify-content: center;
}

.frame {
  height: 405px;
  width: 80%;
  position: absolute;
  top: 0;
  border: solid 5px;
  border-color: whitesmoke;
  /* z-index: 1; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  overflow-x: hidden;
}


/* .second{
 width:90% ;
}

.third{
  border-color: #020219;
} */

.text {
  color: azure;
  font-family:Charmonman;
  font-size: 100px;
  text-align: center;
}

h3{
  margin-top: -100px;
  color: rgb(243, 158, 0);
}

.skills {
  display: flex;
  justify-content: space-between;
  margin-top: -135px;
  margin-left: 10%;
  margin-right: 10%;
  opacity: 90%;
}

.rec{
  height: 500px;
  width: 400px;
  border-radius: 50px;
  margin: 10px;
  opacity: 90%;
  border: none;
}

.one{
  background-image:url("./imgs/4884785.jpg");
  background-size: cover;
  background-position: center;
}
.two{
  
  background-image:url("./imgs/12291228_Wavy_Tech-29_Single-03.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  
}
.three{
  
  background-image:url("./imgs/12290877_Wavy_Tech-09_Single-08.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}

.skills-img1{
  margin-top: 00px;
}
.skills-img2{
  margin-top: 50px;
}
.skills-img3{
  margin-top: 100px;
}

.circle {
  /* background-color: #482121; */
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: solid 5px; */
  border-color: white;
}

.pImg {
  display: flex;
  justify-content: end;
  margin-top: 300px;
  /* align-items: flex-end; */
}

/* .pImg img{
  height: 300px;
} */

.circle .text{
  /* background: url("./imgs/programming-background-collage.jpg"); */
  color: azure;
font-size: 50px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.projects {
  /* background-color: rgb(4, 33, 59); */
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-left: 21%;
  margin-right: 30%;
  margin-bottom: 5px;
}

.projects .circle{
  background-color: azure;
}

button{
  font-family: cursive;
  padding: 15px;
  width: 150px;
  border-radius: 40px;
  font-weight: 1000;
  margin-left: 130px;
}

.skills .css{
background-color: #020219;
color: azure;
}

.skills .html{
  background-color: rgb(243, 158, 0);
}

.skills .js{
  background-color: #020219;
  color: rgb(243, 158, 0);
}

.mid-line {
  /* background-color: #a61750; */
  height: 10px;
}

.circle-line{
  /* background-color: aliceblue; */
  height: 400px;
  width: 800px;
  border-radius: 60%;
  border-color: white;
  border: solid 10px;
  
  position: absolute;
  top: 165%;
  left: 20%;
  
  z-index: 1;
}

/* .interests {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  margin-left: 41%;
} */

.interests .circle{
background-color: azure;
border-radius: 20%;
height: 60px;
}

.footer {
  background-color: #b35837;
  height: 300px;
  margin-top: 150px;
}
