
body {
  margin: 0;
  padding: 0;
  background:url("./imgs/kamran-abdullayev-9V1cYW4JIfQ-unsplash.jpg");
}

.container {
  display: flex;
  flex-direction: column;
  }

.title {
    height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title img {
  background-color: #D0D0D0;
  border-radius: 50%;
  object-fit: cover;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: solid 5px;
  border-color: #D0D0D0;
  margin-top: 15px;
}

.frame {
  height: 405px;
  width: 80%;
  position: absolute;
  top: 0;
  border: solid 5px;
  border-color: #D0D0D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  overflow-x: hidden;
}

.text {
  color: #D0D0D0;
  font-family:Charmonman;
  font-size: 100px;
  text-align: center;
}

h3{
  margin-top: -100px;
  color: #D0A037;
}

.skills {
  display: flex;
  justify-content: space-between;
  margin-top: -135px;
  margin-left: 10%;
  margin-right: 10%;
  opacity: 90%;
  display: flex;
}

.rec{
  height: 450px;
  width: 350px;
  border-radius: 50px;
  margin: 10px;
  opacity: 90%;
  border: none; 
}

.one{
  background-image:url("./imgs/4884785.jpg");
  background-size: cover;
  background-position: center;
}
.two{
  background-image:url("./imgs/12291228_Wavy_Tech-29_Single-03.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 30px;
  
}
.three{ 
  background-image:url("./imgs/12290877_Wavy_Tech-09_Single-08.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 60px;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  margin-top: 5px;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 5px solid #D0D0D0;
  color: #D0D0D0;
}

.play-button{
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #CD7326;
  cursor: pointer;
  color: #D0D0D0;
}

.second{
  margin-top: 50px;
}

footer {
  background-color: #CD7326;
  height: 50px;
  margin-top: 150px;
}

@media (max-width:750px){
  .skills{
    flex-direction: column;
    align-items: center;
  }
}